:root {
    background-color: lightpink;
    font-family: Roboto, Arial, sans-serif;
}

body{
    padding-top: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.book{
    background-color: white;
    border-radius: 8px;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    padding: 2rem 4rem;
}

h1{
    margin: 0;
}

.read{
    color: forestgreen;
}

.not-read{
    color: crimson;
}